// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.completed_task_true {
	.task, .due {
		text-decoration: line-through;
		color: #aaa;
	}
}

.task {
	width: 65%;
}
.due {
	width: 15%;
}

.actions {
	width: 20%;
	.btn-success, .btn-action {
		width: 5.0em;
	}
}

.late_task_true {
	color: red;

	a {
		color: red;
	}
}
