// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.completed_task_true {
	.task, .due {
		text-decoration: line-through;
		color: #aaa;
	}
}


.newbar {
	.btn {
		color: white !important;
	}
	margin-top: 20px;
	margin-bottom: 20px;
	.btn {
		float: right;
	}
}

.task {
	display: table-cell;
	width: 65%;
}
.due {
	display: table-cell;
	width: 15%;

	input {
		width: 80%;
	}
}

.actions {
	display: table-cell;
	width: 20%;
	.btn-success, .btn-action {
		width: 5.0em;
		padding-left: 2px;
	}
}

#newtask {
	& > td, form, tr {
		width: 100%;
	}

	.due input, .task input {
		width: 95%;
	}
}

.late_task_true {
	.due, .task {
		color: red;
		a {
			color: red;
		}
	}
}
